@import url("https://fonts.googleapis.com/css?family=Allerta");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");



body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Allerta';
  font-size: 16px;
  text-align: center;
  color: white;
}

.my-background {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(-180deg, #000000 0%, rgb(30, 32, 42) 100%);
  overflow: hidden;
  z-index: 1;
  /* Make the rubber band scroll not show empty white space */
  top: -10%;
  height: 120%;
  min-height: 120vh;
  margin-bottom: -20%;
}

.my-ul {
  margin-left: 35%;
  margin-bottom: 10%; 
  width: 60%;
}

.my-ul li {
  background-color: white;
  color: black;
  font-size: 18px;
  list-style-type: none;
  width: 30%;
  padding: 10px; 
  margin: 10px;
}

.my-ul li:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

/* menu
.flag {
  font-size: 18px; 
  margin: 0px; 
  padding: 0px;
        <li><a href="english.html">
        <p class='flag'> &#127482;&#127480; </p></a></li>
        </ul>
}
 */
 
.menu ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.menu li {
  background-color: white;
  color: black;
  display: inline-block;
  font-size: 18px;
  list-style-type: none;
  width: auto;
  padding: 10px; 
  margin: 5px;
}

.menu li:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.menu li:active {
  background-color: #111;
}

.active {
  background-color: green; 
}


/* social medias */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-linkedin {
  background: white;
  color: black;
}
.fa-twitter {
  background: white;
  color: black;
}
.fa-github {
  background: white;
  color: black;
}

.fa-linkedin:hover {
  background: red;
  color: white;
}
.fa-twitter:hover {
  background: red;
  color: white;
}
.fa-github:hover {
  background: red;
  color: white;
}


/* content */
.my-container {
  position: relative;
  z-index: 2;
  padding: 104px 0 24px 0;
  width: 95%;
  max-width: 800px;
  margin: auto;
}

h1 {
  display: block;
  font-size: 65px;
  margin: 0 0 0 0;
}

@media (max-width: 500px) {
  h1 {
    font-size: 14vw;
  }
}

h2 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 60px; 
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.title-geral {
  color: white;
  padding: 0 16px;

}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

code {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  width: 100%;
  padding: 16px 24px;
  background: rgba(44, 37, 44, 0.8);
  border: 1px solid #7f797f;
  border-radius: 8px;
  margin-bottom: 16px;
}

.header {
  margin-bottom: 104px;
}

.installation-instructions,
.usage-instructions {
  margin-top: 64px;
}

.footer {
  margin-top: 224px;
}

.footer img {
  height: 104px;
  width: auto;
}

p {
  font-family: 'Allerta';
  font-size: 14px;
}

.p2 {
  font-family: 'Allerta';
  font-size: 12px;
  color: rgb(164, 164, 164);
}

.experience {
  margin: 30px; 
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
}

.p3 {
  font-family: 'Allerta';
  font-size: 10px;
  color: rgb(164, 164, 164);
}