body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.title {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-foot {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}


.bg-4 {
    background-color: yellow;
    /* Black Gray */
    color: black;
}

.bg-5 {
    background-color: aqua;
    /* Black Gray */
    color: black;
}


.bg-6 {
    background-color: aquamarine;
    /* Black Gray */
    color: black;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: Helvetica;
    font-size: 220%;
    font-style: normal;
    color: #0D0D0D;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
#title {
    font-size: 250%;
    font-family: paytone-one;
    font-style: normal;
    font-weight: 400;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
}
.front {
}
.my-header {
    font-family: 'Paralucent Text Book';
    background-color: rgba(29,29,29,1);
}


.my-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.my-header li {
  float: left;
}

.my-header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.my-header li a:hover {
  background-color: #111;
}

.img-profile {
     width: 30%;
    border: 10px solid white; 
    border-radius: 50%;
}

.img-profile:hover {
     box-shadow: 0 0 12px 10px rgba(30, 30, 10, 0.5);
}

.sub-title {
    padding-bottom: 30px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.margin {
    padding-bottom: -5px;
    margin-bottom: 0px;
}

.experience {
   padding-left: 5%; 
}

.experience h5 {
    font-size: 70%;
    margin: 0px;
    padding-bottom: 0px;
}

.experience li {
    margin: 0px;
    padding: 0px;
    font-size: 40%;
}



